@page
@model WebApp7ByManish.Pages.User.IndexModel
@{
}
<h1>Welcome to the Website</h1>

<ul>
    <li class="nav-item"><a class="nav-link text-dark" asp-page="/User/Admin">Admin</a></li>

    <li class="nav-item"><a class="nav-link text-dark" asp-page="/User/Member">Member</a></li>
</ul>