@model Student

<h1>Create Student Record</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="StdID"></label>
        <input asp-for="StdID" class="form-control" />
        <span asp-validation-for="StdID" class="text-danger"></span>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
        <label asp-for="Faculty"></label>
        <input asp-for="Faculty" class="form-control" />
        <span asp-validation-for="Faculty" class="text-danger"></span>

    </div>
    <!-- Add other form fields as needed -->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>